body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, #edff28, #fa0000);
    font-family: 'Roboto', sans-serif;
}

.calculator {
    border: 0.01em solid #ccc;
    border-radius: 1.2em;
    box-shadow: 0.32em 0.32em 0.64em rgba(0, 0, 0, 0.8);
    background-color: #fff;
}

.calculator-screen {
    height: 2em;
    border: none;
    background-color: #252525;
    color: #fff;
    text-align: right;
    padding: 0 0;
    font-size: 2.5rem;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.calculator-screen::placeholder {
    color: #fff
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.625em;
    padding: 1.25em;
}

.calculator-keys button {
    height: 2.5em;
    border-width: 0.08em;
    border-color: gray;
    border-radius: 50%;
    font-size: 1.5rem;
    background-color: #f1f1f1;
    box-shadow: -0.17em -0.17em 0.17em rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s;
}

.calculator-keys button:hover {
    background-color: #eaeaea;
}

.calculator-keys .operator {
    background-color: #1d15ff;
    color: #40dcff;
}

.calculator-keys .operator:hover {
    background-color: #17075e;
}

.calculator-keys .equal-sign {
    height: 5.5em;
    grid-row: span 2;
    background-color: #30c113;
    color: #bdffb7;
}

.calculator-keys .equal-sign:hover {
    background-color: #008e36;
}

.calculator-keys .all-clear {
    background-color: #30c113;
    color: #bdffb7;
}

.calculator-keys .all-clear:hover {
    background-color: #008e36;
}

.calculator-keys .clear {
    background-color: #30c113;
    color: #bdffb7;
}

.calculator-keys .clear:hover {
    background-color: #008e36;
}
